.Button {
  background-color: #bd1e2c;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  display: block;
  font-size: 1.25em;
  padding: 1.25rem 0;
  text-transform: uppercase;
  transition: background-color 100ms;
  width: 100%;
}

.Button:active {
  background-color: #cb0f20;
}

.Button:disabled {
  background-color: #333333;
}

.Button:hover {
  cursor: pointer;
}
