.Button {
  background-color: #bd1e2c;
  border: none;
  color: #ffffff;
  display: block;
  font-family: "Roboto Condensed";
  font-size: 16px;
  padding: 1.25em 0;
  text-transform: uppercase;
  width: 100%;
}
