.Navbar {
  width: 100%;
  height: 100px;
  background-color: #bd1e2c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Navbar-content {
  width: 70%;
  display: grid;
  grid-template-areas: "1 1";
}

.Navbar-logo {
  grid-area: 1;
  width: 207px;
  height: 50px;
  align-self: center;
}

.Navbar-links {
  grid-area: 1;
  align-self: center;
  justify-self: end;
}

.Navbar-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Navbar-links li {
  display: inline;
}

.Navbar-links a,
.Navbar-links button {
  font-size: 1.25em;
  font-family: "Roboto Condensed";
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 14px 25px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  width: auto;
}

.Navbar-links li:not(:last-child)::after {
  content: " |";
  color: white;
}

.Navbar-links li:last-child a {
  padding-right: 0;
}

@media screen and (max-width: 1200px) {
	.Navbar-content {
		width: calc(100% - 40px);
    padding: 10px 20px;
    grid-template-columns: 20% 80%;
  }
  .Navbar-links a,
  .Navbar-links button {
		font-size: 1em;
	}
}
@media screen and (max-width: 767px) {
	.Navbar-content {
		display: block;
		text-align: right;
		position: relative;
	}
	.Navbar-logo {
		width: 120px;
		height: auto;
		position: absolute;
		left: 20px;
		top: 50%;
		transform: translateY(-50%);
	}
	.Navbar-links li {
		display: block;
	}
  .Navbar-links a,
  .Navbar-links button {
		font-size: 0.8em;
		padding: 5px 0;
	}
	.Navbar-links li:not(:last-child) {
		margin-bottom: 10px;
	}
	.Navbar-links li:not(:last-child)::after {
		display: none;
	}
}