.Navbar {
  margin: auto;
  width: 100%;
  background-color: #bd1e2c;
  height: 100px;
  display: grid;
  grid-template-areas: "1 1";
}

.Navbar-logo {
  grid-area: 1;
  width: 207px;
  height: 50px;
  justify-self: center;
  align-self: center;
}

.Navbar-links {
  grid-area: 1;
  justify-self: center;
  align-self: center;
}

.Navbar-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Navbar-links li {
  display: inline;
}

.Navbar-links a {
  font-size: 14px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 14px 25px;
  text-transform: uppercase;
}

.Navbar-links li:not(:last-child)::after {
  content: " |";
  color: white;
}
