.Navbar {
  width: 100%;
  height: 100px;
  background-color: #bd1e2c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Navbar-content {
  width: 80%;
  display: grid;
  grid-template-areas: "1 1";
}

.Navbar-logo {
  grid-area: 1;
  width: 207px;
  height: 50px;
  align-self: center;
}

.Navbar-links {
  grid-area: 1;
  align-self: center;
  justify-self: end;
}

.Navbar-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Navbar-links li {
  display: inline;
}

.Navbar-links a {
  font-size: 1.25em;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 14px 25px;
  text-transform: uppercase;
}

.Navbar-links li:not(:last-child)::after {
  content: " |";
  color: white;
}
.Navbar-links li:last-child a {
  padding-right: 0;
}
