.NotificationDates-grid {
  display: grid;
  grid-template-areas:
    "1 2"
    "3 4"
    "5 .";
  gap: 30px;
  width: 60%;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
}
.NotificationDates > h1 {
  text-transform: uppercase;
  font-weight: normal;
  padding: 1.25rem 0;
}

.NotificationDates > h2 {
  font-style: italic;
  color: #bd1e2c;
  font-size: 1.25em;
  padding: 1.25rem 0;
  font-weight: 400;
}

.DateSelector h3 {
  color: #333333;
  font-size: 1.25em;
}

.DateSelector {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.DateSelector-picker-date-time {
  display: grid;
  grid-template-areas: "1 1";
  gap: 35px;
}

.DateSelector .DateSelector-label {
  font-size: 1.25em;
  color: #333333;
  font-weight: 400;
  display: block;
}

.DateSelector input {
  display: block;
  color: #bd1e2c;
  font-size: 1.25em;
  padding: 1rem 1rem;
  width: 100%;
  border: 1px solid #333333;
  box-sizing: border-box;
  border-radius: 5px;
}

.DateSelector input[type="date"]::-webkit-inner-spin-button,    
.DateSelector input[type="date"]::-webkit-clear-button { display: none; }
.DateSelector input[type="date"]::-ms-clear { display: none; }
.DateSelector input[type="date"]::-moz-clear { display: none; }

.DateSelector [type="date"] {
  background: #fff url("../assets/icon/calendar.svg") 97% 50% no-repeat;
  background-size: 30px 30px;
}
.DateSelector [type="date"]::-webkit-inner-spin-button {
  display: none;
}
.DateSelector [type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.DateSelector .time {
  background: #fff url("../assets/icon/time.svg") 97% 50% no-repeat;
  background-size: 30px 30px;
}

.DateSelector .time::placeholder{
  color: #bd1e2c;
}

.NotificationDate-link {
  padding-top: 3rem;
  font-size: 1.25em;
  color: #bd1e2c;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
}

@media screen and (max-width: 1200px) {
	.NotificationDates-grid {
		width: 100%;
	}
	.NotificationDates {
		padding: 0 20px;
	}
}
@media screen and (max-width: 767px) {
	.NotificationDates-grid {
		display: block;
	}
	.DateSelector-picker-date-time {
		display: block;
	}
	.DateSelector-picker-date-time > div {
		margin-bottom: 2rem;
	}
	.NotificationDates > h1 {
		padding: 0;
	}
	.NotificationDates > h2 {
		padding: 0;
	}
	.NotificationDate-link {
		padding-top: 2rem;
	}
}
