.NotificationsType {
  margin: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.NotificationsType-content {
  width: 550px;
}

.NotificationsType h1 {
  text-transform: uppercase;
  font-weight: normal;
  padding: 1rem 0;
  letter-spacing: 0.1rem;
}

.NotificationSection {
  align-items: center;
  background-color: #f5f3f4;
  display: flex;
  margin-bottom: 28px;
  text-transform: uppercase;
}

.NotificationSection + .NotificationSection {
  margin-top: 60px;
}

.NotificationSection-heading {
  align-items: center;
  background-color: #f5f3f4;
  display: flex;
  margin-bottom: 28px;
  text-transform: uppercase;
}

.NotificationSection-logo-container {
  align-items: center;
  background-color: #bc1e2d;
  display: flex;
  height: 60px;
  justify-content: center;
  width: 60px;
}

.NotificationSection-Checkbox {
  padding: 0 20px 0 38px;
}

@media screen and (max-width: 1200px) {
	.NotificationsType {
		display: block;
		height: auto;
		padding: 0 20px;
	}
	.NotificationsType-content {
		margin: 0 auto;
	}
}
@media screen and (max-width: 767px) {
	.NotificationsType-content {
		width: 100%;
	}
	.NotificationsType h1 {
		padding: 0;
	  }
}