.Register {
  background-image: url("../assets/images/background.png");
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.Register-content {
  width: 550px;
}

.Register h1 {
  color: white;
  text-transform: uppercase;
  font-weight: normal;
  padding: 1rem 0;
  letter-spacing: 0.1rem;
}

.Register input {
  display: block;
  margin-bottom: 1.5rem;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1.25em;
  padding: 1rem 1rem;
  width: 100%;
}

.Register input:last-of-type {
  margin-bottom: 2rem;
}

.Register input::placeholder {
  color: black;
}

.Register-allready {
  display: inline-block;
  padding: 0.5rem 0;
}

.Register-allready h2 {
  color: white;
  font-style: italic;
  font-weight: 300;
  font-size: 1.25em;
}

.Register-span-link {
  color: white;
}

@media screen and (max-width: 767px) {
	.Register {
		padding: 0 20px;
		display: block;
	}
	.Register-content {
		width: 100%;
	}
	.Register h1 {
		margin: 0;
	}
	.Register-allready h2 {
		font-size: 1em;
	}
}