.Reminders-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "1 2"
    "3 4"
    "5 .";
  gap: 30px;
  width: 80%;
  margin: auto;
  overflow: hidden;
}
.Reminders > h1 {
  text-transform: uppercase;
  font-weight: normal;
}

.ReminderSection-heading {
  align-items: center;
  background-color: #f5f3f4;
  display: flex;
  margin-bottom: 28px;
  text-transform: uppercase;
}

.ReminderSection-logo-container {
  align-items: center;
  background-color: #bc1e2d;
  display: flex;
  height: 60px;
  justify-content: center;
  width: 60px;
}

.ReminderSection-logo {
  height: 30px;
}

.ReminderSection-logo > svg {
  height: 30px;
}

.ReminderSection-Checkbox {
  padding: 0 20px 0 40px;
}

.ReminderSection-container {
  display: grid;
  grid-template: "1 2";
  margin-left: 100px;
}

.ReminderSection-label {
  font-size: 1.25em;
  padding: 1.1rem 1rem;
}

.ReminderSection-link {
  font-size: 1.25em;
  color: #bd1e2c;
  text-decoration: none;
  text-transform: uppercase;
}
