.RestartPassword {
    background-image: url('../assets/images/background.png');
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.RestartPassword-content {
    width: 550px;
}

.RestartPassword h1 {
    color: white;
    text-transform: uppercase;
    font-weight: normal;
    padding: 1rem 0;
    letter-spacing: 0.1rem;
}

.RestartPassword input {
    display: block;
    margin-bottom: 1.5rem;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1.25em;
    padding: 1rem 1rem;
    width: 100%;
}

.RestartPassword input:last-of-type {
    margin-bottom: 2rem;
}

.RestartPassword input::placeholder {
    color: black;
}

.RestartPassword-allready {
    display: inline-block;
    padding: 0.5rem 0;
}

.RestartPassword-allready h2 {
    color: white;
    font-style: italic;
    font-weight: 300;
    font-size: 1.25em;
}

.RestartPassword-span-link {
    color: white;
}

.RegistrationFailed {
    color: #bd1e2c;
    font-size: 17px;
    font-style: italic;
    text-align: left;
    margin-bottom: 5px;
}

@media screen and (max-width: 767px) {
    .RestartPassword {
        padding: 0 20px;
        display: block;
    }
    .RestartPassword-content {
        width: 100%;
    }
    .RestartPassword h1 {
        margin: 0;
    }
    .RestartPassword-allready h2 {
        font-size: 1em;
    }
}
