.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.App-content {
  flex: 1 1 auto;
}

.App-content > div {
  height: 100%;
  padding-bottom: 20px;
}

@media screen and (max-width: 1200px) {
	.App {
		display: block;
		height: auto;
	}
}
