@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/font/RobotoCondensed-Regular.woff2") format("woff2");
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Roboto Condensed";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  padding: 0;
}

input {
  font-family: "Roboto Condensed";
}

#root {
  height: 100%;
}
